
<mat-card 
  class="trinta-card all-courses-card mb-25 bg-white border-none d-block"
>

<mat-card-header>
  <mat-card-title>
    <h5 class="mt-0 mb-0">
      Users List
    </h5>
  </mat-card-title>
</mat-card-header>
<mat-card-subtitle>
  <mat-card-content>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="All requester">
        <app-all-requester/>
      </mat-tab>
      <mat-tab label="Active worker">
        <app-active-worker />
      </mat-tab>
      
    </mat-tab-group>
  </mat-card-content>
</mat-card-subtitle>

 