.trinta-card {
    &.team-card {
        .mat-mdc-card-content {
            h6 {
                font-size: 18px;
            }
            .action {
                .mat-mdc-button {
                    color: #818093;
                    margin-right: 12px;

                    i-feather {
                        width: 18px;
                        height: 18px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            p {
                margin-top: 10px;
            }
            .users {
                margin: {
                    top: 20px;
                    bottom: 25px;
                };
                .user {
                    margin-right: 4px;

                    img {
                        margin-bottom: -6px;
                        height: 52px;
                        width: 52px;
                    }
                    .dot {
                        top: 0;
                        left: 0;
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        border: 2px solid var(--whiteColor);
                    }
                }
                .number {
                    background-color: rgba(0, 182, 155, 0.10);
                    margin-left: 10px;
                    color: #00b69b;
                    height: 52px;
                    width: 52px;
                }
            }
            .info {
                margin-top: 25px;

                .list {
                    li {
                        margin-right: 35px;

                        span {
                            &:nth-child(1) {
                                letter-spacing: 1px;
                                margin-bottom: 7px;
                            }
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                .default-btn {
                    &.mat-mdc-button {
                        height: auto;
                        min-width: auto;
                        margin-top: 23px;
                        border-radius: 6px;
                        padding: 10px 15px 11px;
                        color: var(--primaryColor);
                        background: rgba(55, 97, 238, 0.10);
                        font: {
                            size: 14px;
                            weight: 600;
                            family: var(--headingFontFamily);
                        };
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.team-card {
            .mat-mdc-card-content {
                h6 {
                    font-size: 16px;
                }
                .action {
                    .mat-mdc-button {
                        margin-right: 12px;

                        i-feather {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                .users {
                    margin: {
                        top: 15px;
                        bottom: 20px;
                    };
                    .user {
                        margin-right: 2px;

                        img {
                            height: 45px;
                            width: 45px;
                        }
                    }
                    .number {
                        margin-left: 5px;
                        height: 45px;
                        width: 45px;
                    }
                }
                .info {
                    margin-top: 15px;

                    .list {
                        li {
                            margin-right: 25px;

                            span {
                                &:nth-child(1) {
                                    letter-spacing: .5px;
                                }
                            }
                        }
                    }
                    .default-btn {
                        &.mat-mdc-button {
                            margin-top: 15px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.team-card {
            .mat-mdc-card-content {
                h6 {
                    font-size: 17px;
                }
                .users {
                    margin: {
                        top: 20px;
                        bottom: 20px;
                    };
                    .user {
                        img {
                            height: 48px;
                            width: 48px;
                        }
                    }
                    .number {
                        height: 48px;
                        width: 48px;
                    }
                }
                .info {
                    margin-top: 20px;

                    .list {
                        li {
                            margin-right: 30px;
                        }
                    }
                    .default-btn {
                        &.mat-mdc-button {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .trinta-card {
        &.team-card {
            .mat-mdc-card-content {
                .info {
                    .list {
                        li {
                            margin-right: 45px;
                        }
                    }
                    .default-btn {
                        &.mat-mdc-button {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

}
.trinta-card {
    &.all-events-card {
        .mat-mdc-card-content {
            .all-events-table {
                .mat-mdc-table {
                    width: 100%;
                    overflow: hidden;
                    background-color: transparent;

                    .mat-mdc-header-row {
                        height: auto;
                        line-height: initial;
                        letter-spacing: 0.14px;
                        color: var(--darkColor);
                        background: transparent;
                        font: {
                            weight: 500;
                            size: var(--fontSize);
                            family: var(--fontFamily);
                        };
                        .mat-mdc-header-cell {
                            border: none;
                            overflow: unset;
                            text-align: start;
                            white-space: nowrap;
                            line-height: initial;
                            padding: 0 15px 15px;
                            letter-spacing: normal;
                            background: transparent;
                            border-bottom: 2px solid #edeff5;
                        }
                    }
                    .mat-mdc-row, .mdc-data-table__content {
                        line-height: initial;
                        background: transparent;
                        font: {
                            weight: normal;
                            size: var(--fontSize);
                            family: var(--fontFamily);
                        };
                    }
                    .mat-mdc-row {
                        height: auto;
                        color: var(--blackColor);
                    }
                    .mat-mdc-cell {
                        border: none;
                        padding: 18px;
                        overflow: hidden;
                        text-align: start;
                        white-space: nowrap;
                        line-height: initial;
                        letter-spacing: 0.14px;
                        background: transparent;
                        border-bottom: 1px solid #edeff5;

                        .event-info {
                            .image {
                                width: 52px;
                                margin-right: 16px;
                                border-radius: 6px;

                                img {
                                    border-radius: 6px;
                                }
                            }
                            .info {
                                a {
                                    margin-bottom: 8px;
                                    font: {
                                        size: 15px;
                                        family: var(--headingFontFamily);
                                    };
                                }
                            }
                        }
                        .action {
                            .mat-mdc-button {
                                font-size: 18px;
                                color: #818093;
                                margin-right: 12px;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
                .mat-mdc-paginator {
                    padding-top: 15px;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.all-events-card {
            .mat-mdc-card-content {
                .all-events-table {
                    .mat-mdc-table {
                        .mat-mdc-header-row {
                            font-size: 13px;
                        }
                        .mat-mdc-row, .mdc-data-table__content {
                            font-size: 13px;
                        }
                        .mat-mdc-cell {
                            padding: 15px;

                            .event-info {
                                .image {
                                    margin-right: 12px;
                                }
                                .info {
                                    a {
                                        font-size: 13px;
                                    }
                                }
                            }
                            .action {
                                .mat-mdc-button {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.all-events-card {
            .mat-mdc-card-content {
                .all-events-table {
                    .mat-mdc-table {
                        .mat-mdc-cell {
                            padding: 15px;

                            .event-info {
                                .image {
                                    margin-right: 15px;
                                }
                                .info {
                                    a {
                                        font-size: 14px;
                                    }
                                }
                            }
                            .action {
                                .mat-mdc-button {
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
::ng-deep {
  .trinta-card {
    &.all-courses-card {
      .mat-mdc-card-content {
        .mat-mdc-tab-group {
          display: block;

          .mat-mdc-tab-header {
            display: block;

            .mat-mdc-tab-label-container {
              display: block;
              border: 0;

              .mat-mdc-tab-labels {
                background-color: #f7faff;
              }
              .mat-mdc-tab {
                flex-grow: 1;
                min-width: auto;
                color: var(--blackColor);
                transition: var(--transition);
                padding: {
                  left: 15px;
                  top: 15.5px;
                  right: 15px;
                  bottom: 15.5px;
                };
                .mdc-tab__text-label {
                  color: var(--blackColor);
                  transition: var(--transition);
                  font: {
                    weight: 500;
                    size: var(--fontSize);
                  };
                }
                &.mdc-tab--active {
                  background-color: var(--primaryColor);

                  .mdc-tab__text-label {
                    color: var(--whiteColor);
                  }
                }
                .mdc-tab-indicator {
                  display: none;
                }
                &:not(.mdc-tab--stacked) {
                  height: auto;
                }
              }
            }
            .mat-mdc-tab-header-pagination {
              display: none;
            }
          }
          .mat-mdc-tab-body-wrapper {
            display: block;
            margin-top: 25px;

            .mat-mdc-tab-body {
              overflow: hidden;

              .mat-mdc-tab-body-content {
                height: auto;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

  ::ng-deep {
    .trinta-card {
      &.all-courses-card {
        .mat-mdc-card-content {
          .mat-mdc-tab-group {
            .mat-mdc-tab-header {
              .mat-mdc-tab-label-container {
                .mat-mdc-tab-labels {
                  display: block;
                }
                .mat-mdc-tab {
                  padding: {
                    top: 15px;
                    bottom: 15px;
                  };
                  .mdc-tab__text-label {
                    font-size: 13px;
                  }
                }
              }
            }
            .mat-mdc-tab-body-wrapper {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

  ::ng-deep {
    .trinta-card {
      &.all-courses-card {
        .mat-mdc-card-content {
          .mat-mdc-tab-group {
            .mat-mdc-tab-header {
              .mat-mdc-tab-label-container {
                .mat-mdc-tab-labels {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
  }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  ::ng-deep {
    .trinta-card {
      &.all-courses-card {
        .mat-mdc-card-content {
          .mat-mdc-tab-group {
            .mat-mdc-tab-header {
              .mat-mdc-tab-label-container {
                .mat-mdc-tab {
                  padding: {
                    top: 15px;
                    bottom: 15px;
                  };
                }
              }
            }
            .mat-mdc-tab-body-wrapper {
              margin-top: 22px;
            }
          }
        }
      }
    }
  }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
.all-courses-table {
  .mat-mdc-table {
    width: 100%;
    overflow: hidden;
    background-color: transparent;

    .mat-mdc-header-row {
      height: auto;
      line-height: initial;
      letter-spacing: 0.14px;
      color: var(--darkColor);
      background: transparent;
      font: {
        weight: 500;
        size: var(--fontSize);
        family: var(--fontFamily);
      };
      .mat-mdc-header-cell {
        border: none;
        overflow: unset;
        text-align: start;
        white-space: nowrap;
        line-height: initial;
        padding: 0 15px 15px;
        letter-spacing: normal;
        background: transparent;
        border-bottom: 2px solid #edeff5;
      }
    }
    .mat-mdc-row, .mdc-data-table__content {
      line-height: initial;
      background: transparent;
      font: {
        weight: normal;
        size: var(--fontSize);
        family: var(--fontFamily);
      };
    }
    .mat-mdc-row {
      height: auto;
      color: var(--blackColor);
    }
    .mat-mdc-cell {
      border: none;
      padding: 18px;
      overflow: hidden;
      text-align: start;
      white-space: nowrap;
      line-height: initial;
      letter-spacing: 0.14px;
      background: transparent;
      border-bottom: 1px solid #edeff5;

      .course-info {
        .image {
          width: 52px;
          margin-right: 16px;
          border-radius: 6px;

          img {
            border-radius: 6px;
          }
        }
        .info {
          a {
            margin-bottom: 8px;
            font: {
              size: 15px;
              family: var(--headingFontFamily);
            };
          }
        }
      }
      mat-progress-bar {
        --mdc-linear-progress-active-indicator-height: 5px;
        --mdc-linear-progress-track-height: 5px;
        margin-top: 4px;
        width: 135px;
      }
      .action {
        .mat-mdc-button {
          font-size: 18px;
          color: #818093;
          margin-right: 12px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .mat-mdc-paginator {
    padding-top: 15px;
  }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

  .all-courses-table {
    .mat-mdc-table {
      .mat-mdc-header-row {
        font-size: 13px;
      }
      .mat-mdc-row, .mdc-data-table__content {
        font-size: 13px;
      }
      .mat-mdc-cell {
        padding: 15px;

        .course-info {
          .image {
            margin-right: 12px;
          }
          .info {
            a {
              font-size: 13px;
            }
          }
        }
        mat-progress-bar {
          width: 100px;
        }
        .action {
          .mat-mdc-button {
            font-size: 15px;
          }
        }
      }
    }
  }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  .all-courses-table {
    .mat-mdc-table {
      .mat-mdc-cell {
        padding: 15px;

        .course-info {
          .image {
            margin-right: 15px;
          }
          .info {
            a {
              font-size: 14px;
            }
          }
        }
        .action {
          .mat-mdc-button {
            font-size: 17px;
          }
        }
      }
    }
  }

}

// Products Filter
.trinta-card {
  &.products-filter-card {
    .mat-mdc-card-header {
      margin-bottom: 15px;
    }
    .mat-mdc-card-content {
      .filters-top {
        margin-bottom: 25px;
      }
      .filters-bottom {
        .selected-filters {
          ul {
            li {
              font-size: 12px;
              border-radius: 2px;
              margin-right: 12px;
              letter-spacing: 1px;
              padding: 3px 26px 3px 10px;
              background: rgba(96, 91, 255, 0.10);

              button {
                top: 50%;
                right: 8px;
                font-size: 17px;
                position: absolute;
                color: var(--primaryColor);
                transform: translateY(-50%);
                transition: var(--transition);

                &:hover {
                  color: red;
                }
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
          .mat-mdc-button {
            text-decoration: underline;
            color: var(--blackColor);
            letter-spacing: 0.13px;
            margin-left: 25px;
            min-width: auto;
            height: auto;
            padding: 0;
            font: {
              size: 13px;
              weight: 600;
              family: var(--headingFontFamily);
            };
          }
        }
        .search-btn {
          .mat-mdc-button {
            height: auto;
            min-width: auto;
            border-radius: 6px;
            padding: 13.5px 40px;
            letter-spacing: 0.15px;
            color: var(--whiteColor);
            background-color: var(--primaryColor);
            font: {
              size: 15px;
              weight: 600;
              family: var(--headingFontFamily);
            };
          }
        }
      }
    }
  }
}
::ng-deep {
  .trinta-card {
    &.products-filter-card {
      .mat-mdc-card-content {
        .filters-top {
          .mat-mdc-form-field {
            display: block;

            .mdc-text-field--filled {
              .mat-mdc-floating-label {
                mat-label {
                  position: relative;
                  padding-left: 30px;
                  letter-spacing: 0.14px;
                  color: var(--blackColor);
                  font: {
                    size: 14px;
                    weight: 600;
                    family: var(--headingFontFamily);
                  };
                  i {
                    transform: translateY(-50%);
                    font-weight: normal;
                    position: absolute;
                    color: #a9a9c8;
                    font-size: 22px;
                    top: 50%;
                    left: 0;
                  }
                }
              }
              &:not(.mdc-text-field--disabled) {
                .mdc-line-ripple {
                  &::before {
                    border-bottom-color: #eef4fa;
                  }
                }
              }
            }
            .mdc-text-field {
              background-color: transparent;
              border: {
                top-width: 0;
                left-width: 0;
                right-width: 0;
              };
              padding: {
                left: 0;
                right: 0;
              };
            }
            .mat-mdc-form-field-focus-overlay {
              display: none;
            }
            .mat-mdc-form-field-bottom-align {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

// Products Grid
.trinta-card {
  &.product-card {
    padding: 20px 20px 30px;

    .mat-mdc-card-header {
      margin-bottom: 0;

      .mat-mdc-card-title {
        h5 {
          font: {
            size: 13px;
            family: var(--fontFamily);
          };
        }
      }
    }
    .mat-mdc-card-content {
      text-align: center;

      .image {
        display: flex;
        min-height: 216px;
        align-items: center;
        margin-bottom: 25px;
        justify-content: center;

        img {
          transition: var(--transition);
        }
      }
      .content {
        h5 {
          font-size: 16px;
          margin-bottom: 15px;
        }
        .ratings {
          .star {
            margin-right: 3px;

            i {
              font-size: 16px;
              color: #ee8336;
              margin-right: 2px;

              &:last-child {
                margin-right: 0;
              }
            }
          }
          span {
            top: 2px;
            margin-left: 3px;
          }
        }
        .price {
          margin-top: 20px;

          span {
            margin: {
              left: 5px;
              right: 5px;
            };
            &:nth-child(2) {
              font-size: 18px;
            }
          }
        }
      }
    }
    &:hover {
      .mat-mdc-card-content {
        .image {
          img {
            transform: scale(1.03);
          }
        }
      }
    }
  }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

  // Products Filter
  .trinta-card {
    &.products-filter-card {
      padding: 20px;

      .mat-mdc-card-header {
        margin-bottom: 5px;
      }
      .mat-mdc-card-content {
        .filters-top {
          margin-bottom: 20px;
        }
        .filters-bottom {
          .selected-filters {
            ul {
              li {
                margin: {
                  right: 8px;
                  bottom: 8px;
                };
              }
            }
            .mat-mdc-button {
              margin: {
                left: 0;
                top: 11px;
              };
            }
          }
          .search-btn {
            .mat-mdc-button {
              padding: 12px 30px;
              margin-top: 17px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  ::ng-deep {
    .trinta-card {
      &.products-filter-card {
        .mat-mdc-card-content {
          .filters-top {
            .mat-mdc-form-field {
              .mdc-text-field--filled {
                .mat-mdc-floating-label {
                  mat-label {
                    padding-left: 28px;
                    font-size: 13px;

                    i {
                      font-size: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // Products Grid
  .trinta-card {
    &.product-card {
      padding: 20px;

      .mat-mdc-card-content {
        .image {
          margin-bottom: 20px;
        }
        .content {
          h5 {
            font-size: 14px;
            margin-bottom: 13px;
          }
          .ratings {
            .star {
              i {
                font-size: 14px;
              }
            }
            span {
              top: 1px;
              margin-left: 0;
            }
          }
          .price {
            margin-top: 17px;

            span {
              &:nth-child(2) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  // Products Filter
  .trinta-card {
    &.products-filter-card {
      padding: 30px 25px;

      .mat-mdc-card-header {
        margin-bottom: 10px;
      }
      .mat-mdc-card-content {
        .filters-top {
          margin-bottom: 25px;
        }
        .filters-bottom {
          .selected-filters {
            ul {
              li {
                margin-right: 10px;
              }
            }
            .mat-mdc-button {
              margin: {
                left: 0;
                top: 15px;
              };
            }
          }
          .search-btn {
            .mat-mdc-button {
              padding: 13px 35px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  ::ng-deep {
    .trinta-card {
      &.products-filter-card {
        .mat-mdc-card-content {
          .filters-top {
            .mat-mdc-form-field {
              .mdc-text-field--filled {
                .mat-mdc-floating-label {
                  mat-label {
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // Products Grid
  .trinta-card {
    &.product-card {
      padding: 20px 20px 25px;

      .mat-mdc-card-content {
        .image {
          margin-bottom: 20px;
        }
        .content {
          h5 {
            font-size: 15px;
          }
          .ratings {
            .star {
              i {
                font-size: 15px;
              }
            }
          }
          .price {
            margin-top: 17px;

            span {
              &:nth-child(2) {
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
.trinta-card {
  &.team-card {
    .mat-mdc-card-content {
      h6 {
        font-size: 18px;
      }
      .action {
        .mat-mdc-button {
          color: #818093;
          margin-right: 12px;

          i-feather {
            width: 18px;
            height: 18px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      p {
        margin-top: 10px;
      }
      .users {
        margin: {
          top: 20px;
          bottom: 25px;
        };
        .user {
          margin-right: 4px;

          img {
            margin-bottom: -6px;
            height: 52px;
            width: 52px;
          }
          .dot {
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            position: absolute;
            border: 2px solid var(--whiteColor);
          }
        }
        .number {
          background-color: rgba(0, 182, 155, 0.10);
          margin-left: 10px;
          color: #00b69b;
          height: 52px;
          width: 52px;
        }
      }
      .list {
        li {
          margin-right: 35px;

          span {
            &:nth-child(1) {
              letter-spacing: 1px;
              margin-bottom: 7px;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .info {
        margin-top: 25px;

        .user {
          margin-bottom: 25px;

          img {
            height: 76px;
            width: 76px;
            margin: {
              bottom: -6px;
              right: 15px;
            };
          }
          h6 {
            font-size: 16px;
            margin-bottom: 8px;
          }
        }
        .default-btn {
          &.mat-mdc-button {
            height: auto;
            min-width: auto;
            border-radius: 6px;
            padding: 10px 15px 11px;
            color: var(--whiteColor);
            background-color: var(--primaryColor);
            font: {
              size: 14px;
              weight: 600;
              family: var(--headingFontFamily);
            };
          }
        }
      }
    }
  }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

  .trinta-card {
    &.team-card {
      .mat-mdc-card-content {
        h6 {
          font-size: 16px;
        }
        .action {
          .mat-mdc-button {
            margin-right: 12px;

            i-feather {
              width: 16px;
              height: 16px;
            }
          }
        }
        .users {
          margin: {
            top: 15px;
            bottom: 20px;
          };
          .user {
            margin-right: 2px;

            img {
              height: 45px;
              width: 45px;
            }
          }
          .number {
            margin-left: 5px;
            height: 45px;
            width: 45px;
          }
        }
        .list {
          li {
            margin-right: 25px;

            span {
              &:nth-child(1) {
                letter-spacing: .5px;
              }
            }
          }
        }
        .info {
          margin-top: 15px;

          .user {
            margin-bottom: 15px;

            img {
              height: 65px;
              width: 65px;
            }
            h6 {
              font-size: 15px;
              margin-bottom: 7px;
            }
          }
          .default-btn {
            &.mat-mdc-button {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  .trinta-card {
    &.team-card {
      .mat-mdc-card-content {
        h6 {
          font-size: 17px;
        }
        .users {
          margin: {
            top: 20px;
            bottom: 20px;
          };
          .user {
            img {
              height: 48px;
              width: 48px;
            }
          }
          .number {
            height: 48px;
            width: 48px;
          }
        }
        .list {
          li {
            margin-right: 30px;
          }
        }
        .info {
          margin-top: 20px;

          .user {
            margin-bottom: 25px;
          }
        }
      }
    }
  }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

  .trinta-card {
    &.team-card {
      .mat-mdc-card-content {
        .list {
          li {
            margin-right: 45px;
          }
        }
        .info {
          .user {
            margin-bottom: 0;
          }
        }
      }
    }
  }

}
.material-icons.rounded-circle {
  /* Ensure the icon has a rounded background */
  border-radius: 50%;
  color: #555; /* Icon color */
  font-size: 24px; /* Icon size */
  display: flex; /* Aligns the icon centrally */
  align-items: center;
  justify-content: center;
  width: 40px; /* Matching the size of your user images */
  height: 40px; /* Matching the size of your user images */
  border: 1px solid #DDD; /* Optional border */
  margin-right: 20px;
}
.default-btn {
  border: 1px solid #007BFF; /* Blue border */
  background-color: transparent; /* Transparent background */
  color: #007BFF; /* Blue text color to match the border */
  padding: 8px 16px; /* Padding around text and icon */
  display: inline-flex; /* Inline flex to align icon and text */
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover effects */
}

.default-btn mat-icon {
  margin-right: 8px; /* Space between icon and text */
}

.default-btn:hover {
  background-color: #e3f2fd; /* Slight blue background on hover */
  color: #0056b3; /* Darker blue text on hover */
}
.event-description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.2em; /* approximately twice the line height */
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.tab-group .mat-tab-body {
  transition: opacity 0.5s ease-in-out;
}