<div class="col-lg-12">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h5 class="mt-0 mb-0">Pending Invitations</h5>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="pending-invitations-table">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource">

            <!-- Event Title Column -->
            <ng-container matColumnDef="event_title">
              <th mat-header-cell *matHeaderCellDef>Event Title</th>
              <td mat-cell *matCellDef="let element">{{element.event_title}}</td>
            </ng-container>


            <ng-container matColumnDef="patient_fullname">
              <th mat-header-cell *matHeaderCellDef>fullName</th>
              <td mat-cell *matCellDef="let element">{{element.patient_fullname}}</td>
            </ng-container>

            <!-- Device Specs Column -->
            <ng-container matColumnDef="device_specs">
              <th mat-header-cell *matHeaderCellDef>Device Specification</th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <strong>Model:</strong> {{element.device_specs.model}}<br>
                  <strong>Location:</strong> {{element.device_specs.address}}<br>
                  
                  <strong>manufacturer:</strong> {{element.device_specs.manufacturer}}
                  <strong>platform:</strong> {{element.device_specs.platform}}
                </div>
              </td>
            </ng-container>
            <!-- Date Joined Column -->
            <ng-container matColumnDef="joined_at">
              <th mat-header-cell *matHeaderCellDef>Date Joined</th>
              <td mat-cell *matCellDef="let element">{{element.joined_at | date: 'shortDate'}}</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="acceptInvitation(element.id)">Accept</button>
                <button mat-button color="warn" (click)="rejectInvitation(element.id)">Reject</button>
              </td>
            </ng-container>

            <!-- Table Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[9, 18, 27]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
