.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
}

.view-details-button {
  margin-left: auto;  // This will push the button to the right
}

.processing-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: white;
  text-align: center;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db; /* Blue color */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progress-bar-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin: 15px 0;
}

.progress-bar {
  height: 20px;
  background-color: #3498db; /* Blue color */
  width: 0;
  border-radius: 20px;
  transition: width 0.5s ease;
}

.progress-message {
  color: #3498db; /* Blue color like the spinner */
  font-weight: bold;
  margin-top: 10px;
}

.result-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.approved-card {
  background-color: #e8f5e9; /* Very light green background */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: #388e3c; /* Dark green for text */
}

.refused-card {
  background-color: #ffebee; /* Very light red background */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: #d32f2f; /* Dark red for text */
}

.emoji {
  font-size: 24px;
  margin-right: 10px;
}

.result-message-card p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}



.map {
  width: 42px;
  height: 42px;
  font-size: 20px;
  border-radius: 12.718px;
  color: var(--whiteColor);
  background: var(--infoColor);
  //margin: {
  //  left: auto;
  //  right: auto;
  //};
}


.alert-warning {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #ffdc04;
  background-color: #fffde3;
  color: #5a5a60;
  border-radius: 4px;
}
.fancy-blue-button {
  background: linear-gradient(45deg, rgba(0, 123, 255, 0.91), rgba(50, 189, 234, 0.9));
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px; /* Space between icon and text */
}

.fancy-blue-button:hover {
  background: linear-gradient(45deg, #00c6ff, #007bff);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

.button-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.button-text {
  vertical-align: middle;
  line-height: 24px; /* Match icon height */
}


.fancy-blue-button {
  background: linear-gradient(45deg, #007bff, #39a7c6);
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px; /* Space between icon and text */
}

.fancy-blue-button svg {
  width: 24px;
  height: 24px;
  vertical-align: middle; /* Ensures vertical alignment with text */
}

.button-text {
  line-height: 24px; /* Ensures text aligns with the icon */
  vertical-align: middle;
}

.submit-button {
  background: linear-gradient(45deg, #2dba2d, #04b55f);
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Space between icon and text */
}

.submit-button:hover {
  background: linear-gradient(45deg,  #04b55f ,#2dba2d);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

.button-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.button-text {
  vertical-align: middle;
  line-height: 24px; /* Match icon height */
}

.d-flex.gap-3 {
  gap: 15px; /* Space between buttons */
}
.trinta-card {
  &.gallery-card {
    .mat-mdc-card-content {
      .gallery-list {
        margin-bottom: -25px;
      }
    }
  }
}
.all-courses-table {
  .mat-mdc-table {
    width: 100%;
    overflow: hidden;
    background-color: transparent;

    .mat-mdc-header-row {
      height: auto;
      line-height: initial;
      letter-spacing: 0.14px;
      color: var(--darkColor);
      background: transparent;
      font: {
        weight: 500;
        size: var(--fontSize);
        family: var(--fontFamily);
      };
      .mat-mdc-header-cell {
        border: none;
        overflow: unset;
        text-align: start;
        white-space: nowrap;
        line-height: initial;
        padding: 0 15px 15px;
        letter-spacing: normal;
        background: transparent;
        border-bottom: 2px solid #edeff5;
      }
    }
    .mat-mdc-row, .mdc-data-table__content {
      line-height: initial;
      background: transparent;
      font: {
        weight: normal;
        size: var(--fontSize);
        family: var(--fontFamily);
      };
    }
    .mat-mdc-row {
      height: auto;
      color: var(--blackColor);
    }
    .mat-mdc-cell {
      border: none;
      padding: 18px;
      overflow: hidden;
      text-align: start;
      white-space: nowrap;
      line-height: initial;
      letter-spacing: 0.14px;
      background: transparent;
      border-bottom: 1px solid #edeff5;

      .course-info {
        .image {
          width: 52px;
          margin-right: 16px;
          border-radius: 6px;

          img {
            border-radius: 6px;
          }
        }
        .info {
          a {
            margin-bottom: 8px;
            font: {
              size: 15px;
              family: var(--headingFontFamily);
            };
          }
        }
      }
      mat-progress-bar {
        --mdc-linear-progress-active-indicator-height: 5px;
        --mdc-linear-progress-track-height: 5px;
        margin-top: 4px;
        width: 135px;
      }
      .action {
        .mat-mdc-button {
          font-size: 18px;
          color: #818093;
          margin-right: 12px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .mat-mdc-paginator {
    padding-top: 15px;
  }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

  .all-courses-table {
    .mat-mdc-table {
      .mat-mdc-header-row {
        font-size: 13px;
      }
      .mat-mdc-row, .mdc-data-table__content {
        font-size: 13px;
      }
      .mat-mdc-cell {
        padding: 15px;

        .course-info {
          .image {
            margin-right: 12px;
          }
          .info {
            a {
              font-size: 13px;
            }
          }
        }
        mat-progress-bar {
          width: 100px;
        }
        .action {
          .mat-mdc-button {
            font-size: 15px;
          }
        }
      }
    }
  }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  .all-courses-table {
    .mat-mdc-table {
      .mat-mdc-cell {
        padding: 15px;

        .course-info {
          .image {
            margin-right: 15px;
          }
          .info {
            a {
              font-size: 14px;
            }
          }
        }
        .action {
          .mat-mdc-button {
            font-size: 17px;
          }
        }
      }
    }
  }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
.trinta-card {
  &.pm-stat-card {
    padding: {
      top: 40px;
      bottom: 40px;
    };
    .mat-mdc-card-content {
      .icon {
        width: 62px;
        height: 62px;
        margin-bottom: 30px;
        border-radius: 12.718px;
        background-color: var(--primaryColor);

        i-feather {
          width: 32px;
          height: 32px;
          stroke: var(--whiteColor);
        }
      }
      span {
        font-size: 15px;
      }
      h5 {
        font-size: 20px;
        letter-spacing: 1px;
        margin: {
          top: 10px;
          bottom: 30px;
        };
      }
      .info {
        span {
          font-size: 13px;
          letter-spacing: 1px;

          &.trending {
            padding-right: 25px;

            i {
              right: 0;
              top: 50%;
              font-size: 20px;
              color: #00b69b;
              margin-top: -0.8px;
              position: absolute;
              transform: translateY(-50%);
            }
            &.down {
              i {
                color: var(--dangerColor);
              }
            }
          }
        }
      }
    }
  }
}
.row {
  .col-xxxl-2 {
    &:nth-child(2) {
      .trinta-card {
        &.pm-stat-card {
          .mat-mdc-card-content {
            .icon {
              background-color: #ee8336;
            }
          }
        }
      }
    }
    &:nth-child(3) {
      .trinta-card {
        &.pm-stat-card {
          .mat-mdc-card-content {
            .icon {
              background-color: var(--infoColor);
            }
          }
        }
      }
    }
    &:nth-child(4) {
      .trinta-card {
        &.pm-stat-card {
          .mat-mdc-card-content {
            .icon {
              background-color: var(--dangerColor);
            }
          }
        }
      }
    }
    &:nth-child(5) {
      .trinta-card {
        &.pm-stat-card {
          .mat-mdc-card-content {
            .icon {
              background-color: var(--primaryColor);
            }
          }
        }
      }
    }
    &:nth-child(6) {
      .trinta-card {
        &.pm-stat-card {
          .mat-mdc-card-content {
            .icon {
              background-color: #00b69b;
            }
          }
        }
      }
    }
  }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

  .trinta-card {
    &.pm-stat-card {
      padding: {
        top: 20px;
        bottom: 20px;
      };
      .mat-mdc-card-content {
        .icon {
          margin-bottom: 16px;
        }
        span {
          font-size: 13px;
        }
        h5 {
          font-size: 16px;
          margin: {
            top: 10px;
            bottom: 15px;
          };
        }
      }
    }
  }

}

/* Min width 576px to Max width 767px */
@media (max-width: 575px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  .trinta-card {
    &.pm-stat-card {
      padding: {
        top: 25px;
        bottom: 25px;
      };
      .mat-mdc-card-content {
        .icon {
          margin-bottom: 20px;
        }
        span {
          font-size: 14px;
        }
        h5 {
          font-size: 18px;
          margin-bottom: 20px;
        }
      }
    }
  }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}

.trinta-card {
    &.event-details-image-card {
        padding: 0;

        .mat-mdc-card-content {
            img {
                border-radius: 6px;
                margin-bottom: -6px;
            }
        }
    }
    &.event-details-card {
        .mat-mdc-card-content {
            .content {
                h4 {
                    font-size: 24px;
                    margin-bottom: 20px;
                    letter-spacing: 0.24px;
                }
                p {
                    font-size: 16px;
                }
                .btn-box {
                    margin-top: 60px;
                }
            }
            .socials {
                text-align: end;

                span {
                    margin-bottom: 15px;
                }
                ul {
                    li {
                        margin-right: 15px;

                        a {
                            width: 41px;
                            height: 41px;
                            font-size: 22px;
                            border-radius: 3px;
                            color: var(--primaryColor);
                            border: 1px solid #e2e8f0;

                            &:hover {
                                color: var(--whiteColor);
                                border-color: var(--primaryColor);
                                background-color: var(--primaryColor);
                            }
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    &.about-this-event-card {
        .mat-mdc-card-content {
            p {
                font-size: 16px;
            }
        }
    }
    &.topic-covered-card {
        .mat-mdc-card-content {
            ul {
                li {
                    font-size: 16px;
                    padding-left: 28px;
                    margin-bottom: 15.5px;

                    i-feather {
                        left: 0;
                        top: 50%;
                        width: 19px;
                        height: 19px;
                        position: absolute;
                        color: var(--primaryColor);
                        transform: translateY(-50%);
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &.host-card {
        .mat-mdc-card-content {
            .host {
                img {
                    width: 53px;
                    height: 53px;
                    margin-right: 15px;
                }
                h6 {
                    margin-bottom: 8px;
                    font-size: 15px;
                }
                span {
                    margin-bottom: 15px;
                }
                p {
                    font-size: 16px;
                }
            }
            .box {
                padding: 25px 5px;
                border-radius: 6px;
                background: #f5f7fa;

                .icon {
                    width: 62px;
                    height: 62px;
                    font-size: 30px;
                    border-radius: 12.718px;
                    color: var(--whiteColor);
                    background: var(--infoColor);
                    margin: {
                        left: auto;
                        right: auto;
                    };
                }
                span {
                    color: #77838f;
                    margin: {
                        top: 18px;
                        bottom: 11px;
                    };
                }
                h6 {
                    font-size: 18px;
                    letter-spacing: 1px;
                }
            }
            .row {
                .col-lg-6 {
                    &:nth-child(2) {
                        .box {
                            .icon {
                                background: var(--dangerColor);
                            }
                        }
                    }
                }
            }
        }
    }
}
::ng-deep {
    .trinta-card {
        &.event-details-card {
            .mat-mdc-card-content {
                .content {
                    .btn-box {
                        .mat-mdc-button {
                            height: auto;
                            min-width: auto;
                            padding: 18px 25px;
                            margin-right: 18px;
                            color: var(--primaryColor);
                            background: rgba(55, 97, 238, 0.10);

                            .mdc-button__label {
                                display: block;
                                padding-left: 30px;
                                font: {
                                    size: 16px;
                                    weight: 500;
                                    family: var(--headingFontFamily);
                                };
                                i-feather {
                                    transform: translateY(-50%);
                                    font-weight: normal;
                                    position: absolute;
                                    height: 20px;
                                    width: 20px;
                                    top: 50%;
                                    left: 0;
                                }
                            }
                            &:nth-child(1) {
                                color: var(--whiteColor);
                                background-color: var(--primaryColor);
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.event-details-card {
            .mat-mdc-card-content {
                .content {
                    h4 {
                        font-size: 15px;
                        margin-bottom: 13px;
                    }
                    p {
                        font-size: 13px;
                    }
                    .btn-box {
                        margin-top: -8px;
                    }
                }
                .socials {
                    text-align: start;
                    margin-top: 15px;

                    span {
                        margin-bottom: 10px;
                    }
                    ul {
                        li {
                            margin-right: 10px;

                            a {
                                width: 38px;
                                height: 38px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        &.about-this-event-card {
            .mat-mdc-card-content {
                p {
                    font-size: 13px;
                }
            }
        }
        &.topic-covered-card {
            .mat-mdc-card-content {
                ul {
                    li {
                        font-size: 13px;
                        padding-left: 26px;
                        margin-bottom: 12px;

                        i-feather {
                            width: 17px;
                            height: 17px;
                        }
                    }
                }
            }
        }
        &.host-card {
            .mat-mdc-card-content {
                .host {
                    img {
                        margin: {
                            right: 0;
                            bottom: 8px;
                        };
                    }
                    h6 {
                        font-size: 14px;
                    }
                    span {
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 13px;
                    }
                }
                .box {
                    padding: 25px 15px;
                    margin-top: 15px;

                    .icon {
                        width: 58px;
                        height: 58px;
                        font-size: 27px;
                    }
                    span {
                        margin: {
                            top: 15px;
                            bottom: 10px;
                        };
                    }
                    h6 {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.event-details-card {
                .mat-mdc-card-content {
                    .content {
                        .btn-box {
                            .mat-mdc-button {
                                padding: 15px 25px;
                                margin: {
                                    right: 10px;
                                    top: 10px;
                                };
                                .mdc-button__label {
                                    padding-left: 25px;
                                    font-size: 13px;

                                    i-feather {
                                        height: 17px;
                                        width: 17px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.event-details-card {
            .mat-mdc-card-content {
                .content {
                    h4 {
                        font-size: 20px;
                        margin-bottom: 13px;
                    }
                    p {
                        font-size: 14px;
                    }
                    .btn-box {
                        margin-top: 18px;
                    }
                }
                .socials {
                    text-align: start;
                    margin-top: 20px;

                    span {
                        margin-bottom: 15px;
                    }
                    ul {
                        li {
                            margin-right: 10px;

                            a {
                                width: 40px;
                                height: 40px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        &.about-this-event-card {
            .mat-mdc-card-content {
                p {
                    font-size: 14px;
                }
            }
        }
        &.topic-covered-card {
            .mat-mdc-card-content {
                ul {
                    li {
                        font-size: 14px;
                        padding-left: 27px;

                        i-feather {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
        &.host-card {
            .mat-mdc-card-content {
                .host {
                    span {
                        margin-bottom: 12px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
                .box {
                    padding: 20px 15px;
                    margin-top: 20px;

                    h6 {
                        font-size: 17px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.event-details-card {
                .mat-mdc-card-content {
                    .content {
                        .btn-box {
                            .mat-mdc-button {
                                padding: 16px 25px;
                                margin-right: 15px;

                                .mdc-button__label {
                                    padding-left: 26px;
                                    font-size: 14px;

                                    i-feather {
                                        height: 18px;
                                        width: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .trinta-card {
        &.event-details-card {
            .mat-mdc-card-content {
                .content {
                    h4 {
                        font-size: 22px;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 15px;
                    }
                    .btn-box {
                        margin-top: 30px;
                    }
                }
                .socials {
                    ul {
                        li {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        &.about-this-event-card {
            .mat-mdc-card-content {
                p {
                    font-size: 15px;
                }
            }
        }
        &.topic-covered-card {
            .mat-mdc-card-content {
                ul {
                    li {
                        font-size: 15px;
                    }
                }
            }
        }
        &.host-card {
            .mat-mdc-card-content {
                .host {
                    p {
                        font-size: 15px;
                    }
                }
                .box {
                    margin-top: 25px;
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.event-details-card {
                .mat-mdc-card-content {
                    .content {
                        .btn-box {
                            .mat-mdc-button {
                                padding: 16px 20px;
                                margin-right: 10px;

                                .mdc-button__label {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .trinta-card {
        &.event-details-card {
            .mat-mdc-card-content {
                .content {
                    .btn-box {
                        margin-top: 30px;
                    }
                }
            }
        }
        &.host-card {
            .mat-mdc-card-content {
                .box {
                    margin-top: 25px;
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.event-details-card {
                .mat-mdc-card-content {
                    .content {
                        .btn-box {
                            .mat-mdc-button {
                                padding: 15px 16px;
                                margin-right: 10px;

                                .mdc-button__label {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .trinta-card {
        &.host-card {
            .mat-mdc-card-content {
                .host {
                    p {
                        max-width: 776px;
                    }
                }
                .box {
                    padding: {
                        left: 25px;
                        right: 25px;
                    };
                    h6 {
                        font-size: 20px;
                    }
                }
            }
        }
    }

}
