<div class="forgot-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="trinta-form ml-auto mr-auto bg-white border-radius">
                <div class="title text-center">
                    <h3>Forgot Password!</h3>
                    <p class="text-black fs-15">
                        Enter the email address you used when you joined and we'll send you instructions to reset your password.
                    </p>
                </div>
                <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="label d-block fw-medium">Email Address</label>
                        <mat-form-field >
                            <mat-label>Enter email address</mat-label>
                            <input matInput formControlName="email" placeholder="Email Address">
                            <i-feather name="mail"></i-feather>
                            <mat-error *ngIf="authForm.get('email')!.hasError('required') && authForm.get('email')!.touched">
                                Email is required.
                            </mat-error>
                            <mat-error *ngIf="authForm.get('email')!.hasError('email') && authForm.get('email')!.touched">
                                Please enter a valid email address.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="authForm.invalid">
                        Send
                    </button>
                    <div class="text-center">
                        <a routerLink="/authentication" class="text-primary">
                            Back To Sign In
                        </a>
                    </div>
                </form>
                <div *ngIf="message" class="text-center mt-2">
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
