<div class="row">
    <div class="col-lg-4">
        <mat-card class="trinta-card profile-settings-card mb-25 bg-white border-none d-block">
            <mat-card-content>
                <div class="admin text-center">
                    <button *ngIf="role==='Worker'" mat-button class="profile-menu-btn">
                        <img src="assets/images/9187604.png" class="profile-img" alt="admin-image">
                    </button>
                    <button *ngIf="role==='Requester'" mat-button class="profile-menu-btn">
                        <img src="assets/images/company.png" class="profile-img" alt="admin-image">
                    </button>
                    <button *ngIf="role==='Admin'" mat-button class="profile-menu-btn">
                        <img src="assets/images/adminn.png" class="profile-img" alt="admin-image">
                    </button>

                    <h6>{{name}}</h6>
                    <span class="d-block text-body">
                        &#64;{{role}}
                    </span>
                </div>
                <ul class="list-unstyled p-0 m-0">
                    <li class="fw-medium">
                        <a routerLink="/settings/change-password" class="d-block position-relative" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <i-feather name="key"></i-feather>
                            Change Password
                        </a>
                    </li>

                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-8">
        <router-outlet></router-outlet>
    </div>
</div>
